.banner {
  background: url('./images/map.jpg');
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.border {
  width: 100%;
  height: 70px;
  background: white;
}

.overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 500px; /* Full height (cover the whole page) */
  top: 51px;
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Black background with opacity */
}

.graphs {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 300px;
  text-align: center;
  position: absolute;
  top: 21px;
}

.card {
  background: #fff;
  width: 500px;
  border-radius: 10px;
  border: 2px solid #8884d8;
  box-shadow: 3px 3px 7px 3px #ccc;
  margin: 0px 10px;
  height: 350px;
  text-align: center;
  z-index: 20;
}

.card:hover {
  border: 2px solid #db3323;
}

.gender {
  background: #fff;
  width: 400px;
  border-radius: 10px;
  border: 2px solid coral;
  height: 350px;
  box-shadow: 3px 3px 7px 3px #ccc;
  text-align: center;
  z-index: 20;
}

.gender:hover {
  border: 2px solid #db3323;
}

.trips {
  background: #fff;
  border-radius: 10px;
  width: 450px;
  box-shadow: 3px 3px 7px 3px #ccc;
  height: 350px;
  border: 2px solid #f9b822;
  text-align: center;
  z-index: 20;
}

.trips:hover {
  border: 2px solid #db3323;
}

.analysis {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #fff;
}

/* h1{
  margin-top: 70px;
  color: #8884D8;
  font-size: 50px;
} */

.summary {
  text-align: center;
  background: #8884d8;
  color: #fff;
  width: 100%;
  font-size: 20px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
