.driverDetails {
  /* border: 2px solid red; */
  width: 870px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: white;
  padding: 20px;
}

.driverWork {
  /* border: 2px solid green; */
  width: 50%;
  text-align: right;
  position: relative;
  bottom: 0px;
  left: 50%;
}

.driverBio {
  /* border: 2px solid purple; */
  width: 50%;
}
