th {
  width: 250px;
}

td {
  /* color: rgb(121, 119, 119); */
  color: #4087f5;
}

.icon {
  /* color: rgb(153, 151, 151); */
  border: 0.5px solid #4087f5;
  width: 50px;
  border-radius: 5px;
  padding: 8px;
  margin-left: 5px;
}

.icon:hover {
  background: #4087f5;
  color: white;
  cursor: pointer;
}

table {
  margin-top: 20px;
  text-align: left;
  background: white;
  border-collapse: collapse;
  border: 1px solid #ddd;
}
thead {
  background: #ebebeb;
  color: #8884d8;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 6px;
}

.amount {
  color: #00c49f;
  font-weight: bold;
}
